
@import url('./components/navbar.css');
@import url('./components/hero.css');
@import url('./layout/responsive.css');
@import url('./components/about.css');
@import url('./components/why-choose.css')