.about-section {
    padding: 100px 0;
    background-color: #ffffff;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 74px;
}


/* About Image */
.about-image {
    flex: 1;
    position: relative;
}

.about-image img {
    width: 689px;
    height: 632px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.section-name {
    font-size: 24px;
    font-weight: 400;
    color: #2B7FFC;
    position: relative;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #DCE7FF66;
    margin-bottom: 24px;
}


.section-title {
    font-size: 40px;
    font-weight: 600;
    font-style: semibold;
    line-height: 1.3;
    color: #121212;
    margin-bottom: 16px;
}

.section-title span {
    color: #2B7FFC;
}

.about-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #696969;
}
